.section {
  background-color: #151515;
  border-radius: 15px;
  flex-direction: column;
  padding: 50px;
}

.logo {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
}
